<div class="container">
  <div class="row kitten" ng-repeat="kitten in mainCtrl.kittens">
    <div class="col-md-4">
      <img class="img-responsive" ng-src="{{kitten.url}}" />
    </div>
    <div class="col-md-8">
      <h2>{{kitten.name}}</h2>
      <p>
        <strong>Bio</strong>
        <br>
        {{kitten.bio}}
      </p>
      <p>
        <strong>Likes</strong>
        <br>
        {{kitten.likes}}
        <span><i like-button index="{{kitten.id - 1}}" class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
      </p>
      <p>
        <a ng-href="/#/comments/{{kitten.id}}">View Comments</a>
      </p>
    </div>
  </div>
</div>
