<div class="container">
  <div class="row kitten" ng-repeat="kitten in mainCtrl.kittens">
    <div class="col-md-4">
      <img class="img-responsive" ng-src="{{kitten.url}}" />
    </div>
    <div class="col-md-8">
      <h2>{{kitten.name}}</h2>
      <p>
        <strong>Bio</strong>
        <br>
        {{kitten.bio}}
      </p>
      <p>
        <strong>Likes</strong>
        <br>
        {{kitten.likes}}
      </p>
      <p>
        <a ng-href="/#/comments/{{kitten.id}}">View Comments</a>
      </p>
    </div>
  </div>
</div>
